<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  <link href="/static/output.css" type="text/css" rel="stylesheet" />
  <title>get out of here!</title>
</head>

<body>
  <div class="py-20 mx-5 xl:mx-80 bg-slate-500 mb-10 font-geist">
    <p class="text-3xl my-2 text-green-500">welcome to szhafir blog</p>
    <h1>Reading Now</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8" hx-get="/readingNow" hx-swap="innerHTML" hx-trigger="load">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h1>Book Reviews</h1>
        <div id="book-reviews" class="h-full" hx-get="/notion/allposts/book-reviews" hx-swap="innerHTML" hx-trigger="load">
          <div class="htmx-indicator">
            loading... notion api is slow.. give chance..
          </div>
        </div>
      </div>
      <div>
        <div>
          <h1>Coding Posts</h1>
          <div id="coding-posts" class="h-full" hx-get="/notion/allposts/engineering" hx-swap="innerHTML" hx-trigger="load">
            <div class="htmx-indicator">
              loading... notion api is slow.. give chance..
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer class="text-center text-xs">
  <p>© 2024 szhafir</p>
  <p>Powered by htmx, tailwind and go</p>
</footer>

</html>