@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'geist';
  src: url("./public/fonts/Geist-Regular.otf");
}


@layer base {
    h1 {
      @apply text-4xl;
      @apply font-bold;
      @apply my-5;
    }
    h2 {
      @apply text-2xl;
      @apply font-bold;
      @apply my-5;
  
    }
    h3 {
      @apply text-lg;
      @apply font-bold;
      @apply my-5;

    }

    body {
        @apply bg-slate-500;
    }
  }

  [data-loading] {
    display: none;
  }