{{define "main"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="/static/output.css" type="text/css" rel="stylesheet" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>
    // Handle the htmx afterRequest event to load highlight.js
    document.addEventListener("htmx:afterRequest", function (event) {
      hljs.highlightAll();
    });
  </script>
    <title>get out of here!</title>
</head>

<body>
    <div class="py-20 mx-5 xl:mx-56 bg-slate-300 mb-10 font-geist">
        <div class="flex items-baseline gap-4 mb-5">
            <a href="/"><p class="text-xl md:text-3xl text-green-700 hover:text-green-900 transition-colors duration-200 relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 hover:after:w-full after:bg-green-900 after:transition-all">welcome to szhafir blog</p></a>
            <nav class="flex gap-6 p-4">
                <a href="/notion/allposts/book-reviews"
                    class="text-lg md:text-2xl font-medium text-gray-600 hover:text-gray-900 transition-colors duration-200 relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 hover:after:w-full after:bg-gray-900 after:transition-all">
                    books
                </a>
                <a href="/notion/allposts/engineering"
                    class="text-lg md:text-2xl font-medium text-gray-600 hover:text-gray-900 transition-colors duration-200 relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 hover:after:w-full after:bg-gray-900 after:transition-all">
                    coding
                </a>
                <a href="/strava"
                    class="text-lg md:text-2xl font-medium text-gray-600 hover:text-gray-900 transition-colors duration-200 relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 hover:after:w-full after:bg-gray-900 after:transition-all">
                    strava
                </a>
                <a href="/manga"
                    class="text-lg md:text-2xl font-medium text-gray-600 hover:text-gray-900 transition-colors duration-200 relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 hover:after:w-full after:bg-gray-900 after:transition-all">
                    manga
                </a>
            </nav>
        </div>
        {{template "content" .}}
    </div>
    <footer class="text-center text-xs pb-5">
        <p>© <script>document.write(new Date().getFullYear())</script> szhafir</p>
        <p>Site powered by htmx, tailwind and go, content from Notion</p>
    </footer>
</body>
</html>
{{end}}