<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="/static/output.css" type="text/css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
      // Handle the htmx afterRequest event to load highlight.js
      document.addEventListener("htmx:afterRequest", function (event) {
        hljs.highlightAll();
      });
    </script>
    <title>get out of here!</title>
  </head>
  <body>
    <div class="py-20 mx-5 xl:mx-80 bg-slate-500 mb-10 font-geist">
      <a href="/">
        <p class="text-3xl my-2 text-green-500">welcome to szhafir blog</p>
      </a>
      <div
        id="teehee"
        hx-get="/notion/content/{{.}}"
        hx-swap="innerHTML"
        hx-trigger="load"
      >
        <div class="htmx-indicator">
          loading... notion api is slow.. give chance..
        </div>
      </div>
    </div>
  </body>
  <footer class="text-center text-xs pb-5">
    <p>© 2023 szhafir</p>
    <p>Powered by htmx, tailwind and go</p>
  </footer>
</html>
